<!DOCTYPE html>
<html>

<head>
    <title>FindMyFriend</title>
    <link rel="icon" href="/images/DogAndCat.jpeg" />
    <!-- link css files here -->
    <link rel="stylesheet" href="/css/HeaderNavBar.css" type="text/css" />
    <link rel="stylesheet" href="/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="/css/CommonStyle.css" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-soft-kiss fixed-top py-3">
        <div class="container Santation">
            <!-- brand name -->
            <i class="fas fa-paw fa-3x p-2"></i>
            <a class="navbar-brand search-w font-weight-bold font-size-28 my-auto" href="/home/1">Find My Friend</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navbarIcons" aria-controls="navbarIcons" aria-expanded="false" aria-label="Toggle navigation">
                <span class="rounded-circle">
                    <!-- change to user image -->
                    <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCategories">
                <ul class="navbar-nav ml-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/home/1">
                            <div class="font-size-18 raspberry font-weight-bolder">All</div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Dogs
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                            <a class="font-size-18 grass m-auto pl-4 dropdown-item" href="/home/Chihuahua/1">Chihuahua</a>
                            <div class="dropdown-divider"></div>
                            <a class="font-size-18 grass m-auto pl-4 dropdown-item">Husky</a>
                            <div class="dropdown-divider"></div>
                            <a class="font-size-18 grass m-auto pl-4 dropdown-item">Shiba</a>
                            <div class="dropdown-divider"></div>
                            <a class="font-size-18 grass m-auto pl-4 dropdown-item">Poodle</a>
                            <div class="dropdown-divider"></div>
                            <a class="font-size-18 grass m-auto pl-4 dropdown-item">Others</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Cats
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Hamsters
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Fish
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Birds
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarAllPets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="font-size-18 raspberry font-weight-bolder m-auto">
                                <!-- change animal type here -->
                                Others
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarAllPets">
                            <!-- add animal breed here -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarIcons">
                <ul class="navbar-nav ml-auto">
                    <!-- ava button -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownAva" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <!-- may change to user image -->
                            <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3"></i>
                            <span class="d-lg-none font-size-18 my-auto font-weight-bolder raspberry ml-4">Username</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAva">
                            <!-- case 1: user hasn't log in -->
                            <div class="d-none">
                                <div class="row">
                                    <div class="col-4 rounded-circle">
                                        <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3 m-2"></i>
                                    </div>
                                    <div class="col-8 font-size-18 m-auto font-weight-bolder">
                                        <a class="text-dark" href="/auth/login">Log in</a>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row font-size-18 ml-5 text-decoration-underline">
                                    <a class="text-dark" href="/auth/register">Create an account</a>
                                </div>
                            </div>
                            <!-- case 2: CUSTOMER has already log in -->
                            <div class="<%- user != null ? "" : " d-none" %>">
                                <div class="row">
                                    <div class="col-4 rounded-circle">
                                        <!-- change to user image -->
                                        <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3 m-2"></i>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="row font-size-18 mx-3 text-dark font-weight-bolder">
                                            <!-- change user name here -->
                                            <%- user != null ? user.name : "" %>
                                        </div>
                                        <div class="row font-weight-lighter font-size-14 mx-2 text-decoration-underline">
                                            <a class="text-black-50" href="/user/<%- user != null ? user._id : "" %>/profile">See your profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fas fa-sign-out-alt raspberry fa-lg px-3 m-2"></i>
                                    </div>
                                    <div class="col-8 font-size-18">
                                        <a class="text-dark font-weight-bolder" href="auth/login">Log out</a>
                                    </div>
                                </div>
                            </div>
                            <!-- case 3: SHOP has already log in -->
                            <div class="<%- shop != null ? "" : " d-none" %>">
                                <div class="row">
                                    <div class="col-4 rounded-circle">
                                        <!-- change to user image -->
                                        <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3 m-2"></i>
                                    </div>
                                    <div class="col-8 m-auto">
                                        <div class="row font-size-18 mx-3 text-dark font-weight-bolder">
                                            <!-- change user name here -->
                                            <%- shop != null ? shop.name : "" %>
                                        </div>
                                        <div class="row font-weight-lighter font-size-14 mx-2 text-decoration-underline">
                                            <a class="text-black-50" href="#">See your profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fas fa-store raspberry fa-lg px-3 m-2"></i>
                                    </div>
                                    <div class="col-8 font-size-18">
                                        <a class="text-dark font-weight-bolder" href="#">View my shop</a>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fas fa-sign-out-alt raspberry fa-lg px-3 m-2"></i>
                                    </div>
                                    <div class="col-8 font-size-18">
                                        <a class="text-dark font-weight-bolder" href="/auth/login">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- noti button -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownNoti" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fas fa-bell raspberry fa-lg p-3"></i>
                            <span class="d-lg-none font-size-18 my-auto font-weight-bolder raspberry ml-4">Notification</span>
                        </a>
                        <div class="dropdown-menu dropdown-100px" aria-labelledby="navbarDropdownNoti">
                            <% if (user != null) { %>
                            <% for (let i = 0; i < user.notice.length ; ++i) { %>
                            <div class="row">
                                <div class="col-3 rounded-circle">
                                    <!-- change to user image -->
                                    <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3 m-2"></i>
                                </div>
                                <div class="col-9 font-size-14 m-auto">
                                    <!-- change text -->
                                    <a class="text-dark" href="#">
                                        <%= user.notice[i].detail %> </a>
                                </div>
                            </div>
                            <% } %>
                            <% } else { %>
                            <% for (let i = 0; i < shop.notice.length ; ++i) { %>
                            <div class="row">
                                <div class="col-3 rounded-circle">
                                    <!-- change to user image -->
                                    <i class="fas fa-user raspberry fa-lg rounded-circle bg-cream p-3 m-2"></i>
                                </div>
                                <div class="col-9 font-size-14 m-auto">
                                    <!-- change text -->
                                    <a class="text-dark" href="#">
                                        <%= shop.notice[i].detail %> </a>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                            <div class="dropdown-divider"></div>
                            <div class="row font-size-18 text-decoration-underline ml-5 pl-5">
                                <a class="text-dark" href="#">View more</a>
                            </div>
                        </div>
                    </li>
                    <!-- basket button -->
                    <li class="nav-item active <%- user != null && user.type != " admin" ? "" : "d-none" %>">
                        <a class="nav-link" href="/user/<%- user != null ? user._id : "" %>/cart"><i class="fas fa-shopping-basket fa-lg p-3"></i>
                            <span class="d-lg-none font-size-18 my-auto font-weight-bolder raspberry ml-4">Basket</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container Santation">
        <!-- search bar -->
        <form class="form-inline d-flex justify-content-center">
            <input class="form-control search-style" type="search" placeholder="Search" aria-label="Search" />
        </form>
    </div>
    <script src="https://kit.fontawesome.com/4327c3ebe1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>